.dg-wrapper {
  padding-top: 0px !important;
  /* padding-left: 36px; */
  background-color: #949494;
}

.dg-cell-bg {
  background-color: #cccccc !important;
}

.dg-wrapper .datagrid {
  margin-top: 0px !important;
}

.dg-wrapper .datagrid .datagrid-head {
  background-color: #ccc !important;
  pointer-events: none;
}

.dg-wrapper .datagrid .datagrid-body .datagrid-row {
  background-color: #ccc !important;
}

.dg-wrapper .datagrid .datagrid-body .datagrid-row:hover {
  background-color: #eee !important;
}
/* create self progressbar */
.floatLeft{
  float:left !important;
  position: relative !important;
  overflow: initial !important;
 
}
.floatRight{
  float:right !important;
}
.boxOutProgress{
  width: 80%;
  height: 15px;
  background-color:grey;
  border-color:rgb(136, 219, 5);
}
.boxInProgressRed{  
  background-color:red;
  height: 15px; 
}
.boxInProgressGreen{  
  background-color:rgb(136, 219, 5);
  height: 15px; 
}