
    <div class="row">     
        
        <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12 col-lg-12">
            <div class="card">
                
                <div class="card-block">
                    <div class="card-title">
                            <app-kpi-ampur-directive></app-kpi-ampur-directive>                            
                        
                    </div>
                    <div class="card-text" *ngIf="table">
                        
                    </div>
                    <div class="card-text" *ngIf="chart">
                        
                    </div>
                </div>
                <div class="card-footer">
                    
                </div>
            </div>
        </div>
    </div>

    

    