<clr-main-container style="overflow-x:hidden">

    <clr-header class="header-4">
        <div class="branding">
            <a href="./" class="nav-link">
                <clr-icon shape="dashboard" class="has-badge"></clr-icon>
                <span class="title">Cockpit ระบบข้อมูลตัวชี้วัดสำนักงานสาธารณสุขจังหวัด{{prov_name}} ปีงบประมาณ {{year}}</span>
            </a>
        </div>
        <div *ngIf="!userFname" class="header-actions">
            <a href="#" [routerLink]="['/login']" routerLinkActive="active" class="nav-link nav-icon">LOGIN
                <!-- <clr-icon shape="login"></clr-icon> -->
                <!-- {{menuItems[1]}} -->
            </a>
        </div>
        <div *ngIf="userFname" class="header-actions">
            <div class="branding">
                <span class="title">
                    {{userFname}} | &nbsp;&nbsp;

                    <a class="nav-link" href="#" (click)="doLogout()">
                        <b>
                            <!-- <clr-icon shape="logout"></clr-icon> -->LOGOUT
                        </b>
                    </a>
                </span>
            </div>
        </div>
    </clr-header>


    <nav class="subnav" [clr-nav-level]="1">
        <ul class="nav">
            <clr-dropdown class="active" *ngFor="let s of getStggroup index as i">
                <!--<button [clrLoading]="button1Loading" class="{{button1Class}}" (click)="setNameStgGrp($event)" clrDropdownTrigger>-->
                <button class="btn btn-primary" (click)="setNameStgGrp($event)" [ngClass]="{'menuBackgroudActive': stg_grp_id == s.stg_group_id, 'menuBackgroud': stg_grp_id != s.stg_group_id}"
                    clrDropdownTrigger>
                    <clr-icon [attr.shape]="menuItems[i]" class="is-solid"></clr-icon>
                    {{s.stg_group_name}}
                </button>
                <clr-dropdown-menu *clrIfOpen>
                    <li class="nav-item" *ngFor="let One of getStg | filterObject:{'stg_grp_id' : s.stg_group_id}">

                        <a [hidden]="ampurId" class="btn btn-link" href="#" [routerLink]="['./kpi',One.stg_id,One.stg_grp_id]" routerLinkActive="disabled"
                            [routerLinkActiveOptions]="{exact:true}" clrDropdownItem (click)="button1()" (click)="setNameStg($event)">
                            <clr-icon [attr.shape]="menuItems[i]" class="is-solid"></clr-icon> {{One.stg_name}}
                        </a>

                        <a [hidden]="!ampurId" class="btn btn-link" href="#" [routerLink]="['./kpiampur',One.stg_id,One.stg_grp_id,ampurId]" routerLinkActive="disabled"
                            [routerLinkActiveOptions]="{exact:true}" clrDropdownItem (click)="button1()" (click)="setNameStg($event)">
                            <clr-icon [attr.shape]="menuItems[i]" class="is-solid"></clr-icon> {{One.stg_name}}
                        </a>
                    </li>
                </clr-dropdown-menu>
            </clr-dropdown>
        </ul>

    </nav>

    <nav class="subnav-1">
        <div class="row">
            <div id="pdf"></div>
            <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12">
                <!-- <button class="btn btn-success-outline btn-block"> -->
                <span *ngIf="stg_group_name!='default message'">
                    <label id="stgname">
                        <!-- <span class="badge">{{stg_grp_id}} </span> -->
                        {{stg_group_name}}
                        <clr-icon shape="angle-double" size="20" class="is-error rotate"></clr-icon>
                        <!-- <span class="badge"> {{stg_id}}</span> -->
                        {{ stg_name }}
                    </label>
                </span>
                <span *ngIf="stg_group_name=='default message'">
                    <label id="stgname">
                        ข้อมูลตัวชี้วัดทั้งหมด
                    </label>
                </span>
                <label>
                    <clr-icon shape="angle-double" size="20" class="is-error rotate"></clr-icon> จังหวัด
                    <a href="#" [routerLink]="['./kpi',stg_id,stg_grp_id]" routerLinkActive="active" (click)="backtoProvView()">
                        {{prov_name}}
                    </a>
                    <span *ngIf="ampurname">
                        <clr-icon shape="angle-double" size="20" class="is-error rotate"></clr-icon>
                        อำเภอ{{ampurname}} </span>
                </label>
                <!--<button *ngIf="ampurname" class="btn btn-danger">กำลังแสดงภาพรวม ระดับอำเภอ {{ampurname}}</button>-->
                <button class="btn btn-sm position-right" (click)="getAmpherList()">
                    <!--<clr-icon shape="map"></clr-icon> -->เลือกอำเภอ
                    <clr-icon shape="collapse-card" class="is-solid" size="20"></clr-icon>
                    <!-- <clr-icon shape="collapse-card" class="is-solid"></clr-icon> -->
                </button>

                <!-- </button> -->
                <!--<clr-modal [(clrModalOpen)]="ampurModal">
                    <h3 class="modal-title">เลือกอำเภอ</h3>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" *ngFor="let a of amphurList">
                                <a class="nav-link" href="#" [routerLink]="['./kpiampur',stg_id,stg_grp_id,a.amphurcode]" (click)="acceptAmpur(a.amphurcode)"
                                    routerLinkActive="active">

                                    <clr-icon shape="map-marker" class="is-solid"></clr-icon>{{a.amphurname}}

                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="ampurModal = false">Cancel</button>
                    </div>
                </clr-modal> -->
            </div>
            <div class="col-lg-2 col-md-8 col-sm-12 col-xs-12 searchRight">
                <div [ngClass]="{'hidden': search==='f'}">
                    <clr-icon shape="search" (click)="searchKpi()"></clr-icon>
                    <!--<input class="searchBar" type="text" size="45" placeholder="Search for keywords..." (focus)="searchKpi()">-->
                    <button class="btn btn-success btn-sm position-right" (click)="searchKpi()">
                        <clr-icon shape="search"></clr-icon>ค้นหารายงานตัวชี้วัด
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <!--<div class="content-container"  [style.visibility]="search? 'visible': 'hidden'">[ngClass]="{'hidden': guageActive}"-->
    <div class="content-container" [ngClass]="{'hidden': search==='t'}" style="overflow-x:hidden">
        <div class="content-area" style="overflow-x:hidden">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-success btn-sm position-right" (click)="searchCancel()">ยกเลิกค้นหา</button>
                    <table id='table' datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="stripe row-border order-column hover dts"
                        style="width:100%">
                        <thead>
                            <tr>
                                <th class="hideTD">id </th>
                                <th class="hideTD"> stg </th>
                                <th class="hideTD"> stg_grp </th>
                                <th style="width: 80%">ชื่อตัวชี้วัด</th>
                                <th style="width: 10%">กลุ่มตัวชี้วัด </th>
                                <th style="width: 10%">สาขาตัวชี้วัด </th>
                                <!-- <th>Action</th> -->
                            </tr>

                        </thead>
                        <tbody>

                            <tr *ngFor="let r of searchItems" (dblclick)="showSearchKpi()">

                                <td class="hideTD">{{r.kpi_id}}</td>
                                <td class="hideTD">{{r.stg_id}}</td>
                                <td class="hideTD">{{r.stg_grp_id}}</td>

                                <td>
                                    <a class="btn btn-link" href="#" [routerLink]="['./kpi',r.stg_id,r.stg_grp_id,r.kpi_id]" routerLinkActive="active" (click)="button1()"
                                        (click)="setNameStg($event)">
                                        <!-- <button class="btn btn-sm"> -->
                                        <clr-icon shape="eye" class="is-solid">เลือก</clr-icon>
                                        <!-- </button> -->
                                        {{r.kpi_name}}
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-link" href="#" [routerLink]="['./kpi',r.stg_id,r.stg_grp_id,r.kpi_id]" routerLinkActive="active" (click)="button1()"
                                        (click)="setNameStg($event)">
                                        {{r.stg_group_name}}
                                    </a>
                                </td>

                                <td>
                                    <a class="btn btn-link" href="#" [routerLink]="['./kpi',r.stg_id,r.stg_grp_id,r.kpi_id]" routerLinkActive="active" (click)="button1()"
                                        (click)="setNameStg($event)">
                                        {{r.stg_name}}
                                    </a>
                                </td>
                                <!--  <td>
                                        <a class="btn btn-link" href="#" [routerLink]="['./kpi',r.stg_id,r.stg_grp_id,r.kpi_id]" routerLinkActive="active" (click)="button1()"
                                            (click)="setNameStg($event)">
                                            <button class="btn btn-sm">
                                                <clr-icon shape="eye" class="is-solid"></clr-icon> เลือก
                                            </button>
                                        </a>
                                    </td> -->

                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>



    <div class="content-container" [ngClass]="{'hidden': search==='f'}" style="overflow-x:hidden">
        <!-- <div class="content-container"  *ngIf="search == 't'"> -->
        <div class="content-area" style="overflow-x:hidden">
            <router-outlet></router-outlet>
        </div>
    </div>

    <clr-modal [(clrModalOpen)]="ampurModal">
        <h3 class="modal-title">เลือกอำเภอ</h3>
        <div class="modal-body">

            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" *ngFor="let a of amphurList">
                    <a class="nav-link" href="#" [routerLink]="['./kpiampur',stg_id,stg_grp_id,a.amphurcode]" (click)="acceptAmpur(a.amphurcode)"
                        routerLinkActive="active">
                        <!--<button type="button" class="btn btn-icon">-->
                        <clr-icon shape="map-marker" class="is-solid"></clr-icon>{{a.amphurname}}
                        <!--</button>-->
                    </a>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="ampurModal = false">Cancel</button>
        </div>
    </clr-modal>

</clr-main-container>