.rowColorlightBlue{
  background-color:#aeeeee;
}
.rowColorwhite{
  background-color: #ffffff;
}
.fonts{
  font-weight: 600;
  /* color: blue;*/
}
.datagrid-cell {
  word-break: break-all;
  }
  .hidden {
    display: none !important;
  }
  .disabled { 
    position : relative; 
    color: grey;
   
}